@import "tailwindcss";

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 43px
}
body {
    background-color: #171826;
}

.active {
    opacity: 1;
    scale: 1.2;
    transform-origin: right;
    transition: opacity 0.35s ease-in-out, scale 0.35s ease-in-out;
}
.text-item {
    transform-origin: right;
    transition: opacity 0.35s ease-in-out, scale 0.35s ease-in-out;
}

.title {
    color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonSubText{
    margin-top: -30px;
}


.buttons, .buttonSubText, .buttonText {
    transition: background-color 1s, color 1s, scale 0.5s;

}
.buttons:hover{
    background-color: #E6D8C7;
    scale: 1.08;
}
.buttons:hover .buttonSubText {
    color: transparent;
}
.buttons:hover .buttonText {
    color: #171826;
}
.contact-display {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.contact-text {
    text-align: center;
    display: inline-block
}
.contact-container {
    display: flex;
    justify-content: space-between;
    color: #E6D8C7;
}

.contact-form {
    display: flex;
    flex-direction: column;
}
.line1 {
    background: white;
}

.contact::placeholder {
    font-weight: 300;
    font-size: 27px;
    opacity: 80%;
}