@import "tailwindcss";

body {
    background-color: #01061f;
}

.life-wheel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    top: 150px;
}

.image-container {
    width: 800px; 
    align-content: center;
    position: relative;
}
.active {
    border-radius: 18px;
    opacity: 1;
    transition: opacity 0.35s ease-in-out;
    position: absolute;
}
.active.in-transition {
    opacity: 0;
    
}
.previous {
    opacity: 0;
    border-radius: 18px;
    transition: opacity 0.35s ease-in-out;
    position: absolute;
}
.previous.in-transition {
    opacity: 1;
}


.wheel-container {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    width: 650px;
    display: flex;
    flex-direction: column;
    perspective: 800px;
    position: relative;
    top: 200px;
}
.wheel-item {
    position: absolute;
    transition: all 0.6s ease-in-out;
}
.wheel-item-0 {
    font-size: 55px;
    opacity: 1;
    transform: translateY(0);
    color: #E6D8C7
}
.wheel-item-3 {
    font-size: 32px;
    opacity: 0.25;
    transform: translateY(-66px);
    color: #E6D8C7
}
.wheel-item-4 {
    font-size: 40px;
    opacity: 0.43;
    transform: translateY(-36px);
    color: #E6D8C7
}
.wheel-item-1{
    font-size: 40px;
    opacity: 0.43;
    transform: translateY(60px);
    color: #E6D8C7
}
.wheel-item-2{
    font-size: 32px;
    opacity: 0.25;
    transform: translateY(101px);
    color: #E6D8C7
}
.wheel-container div:hover {
    cursor: pointer;
}